<div class="customers">
    <div *ngIf="!customers || customers.length <= 0; else customer_table">
        <div class="block has-text-centered no-customers-message">
            You must first upload a customer list to view customer data.
        </div>
    </div>

    <ng-template #customer_table>
        <table *ngIf="customers" class="table is-striped is-fullwidth customer-table">
            <tr class="customer-table-header">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Vehicle Type</th>
                <th>Vehicle Name</th>
                <th>Vehicle Length (feet)</th>
            </tr>
            <tr *ngFor="let customer of customers; index as i" class="customer-row">
                <td [attr.id]="'first-name-' + i">{{ customer.firstName }}</td>
                <td [attr.id]="'last-name-' + i">{{ customer.lastName }}</td>
                <td [attr.id]="'email-' + i">{{ customer.email }}</td>
                <td [attr.id]="'vehicle-type-' + i">{{ customer.vehicle.type }}</td>
                <td [attr.id]="'vehicle-name-' + i">{{ customer.vehicle.name }}</td>
                <td [attr.id]="'vehicle-length-' + i">{{ customer.vehicle.length }} ft.</td>
            </tr>
        </table>
        <div class="block sort-options columns is-centered has-text-centered">
            <div class="column">
                <button class="button is-info" id="vehicle-sort" (click)="sortCustomers(SortType.VEHICLE)">Vehicle Type Sort</button>
            </div>
            <div class="column">
                <button class="button is-info" id="name-sort" (click)="sortCustomers(SortType.FULL_NAME)">Full Name Sort</button>
            </div>
        </div>
    </ng-template>
</div>